
.RoomDetails-section {
    padding: 5px;
    margin-top: 50px;
  }
  
  
  .RoomDetails-hotelName {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .RoomDetails-roomTypeHeading {
    color: #555;
    font-size: 20px;
    margin-top: 15px;
  }
  
  .RoomDetails-bookingSection {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
  }
  


  .room-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    
  }

  .booking__bottom input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px; 
  }
  
  .booking__bottom input[type="date"]:focus {
    outline: none;
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
.room-card:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .room-card.selected {
    background-color: #4caf50;
    color: #fff;
  }
  
  .room-card.selected:hover {
    background-color: #4caf50;
    color: #fff;
  }
  

  .room-card.selected::after {
    content: "\2713"; 
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  

  
 
.user__reviews{
    margin-top: 2.5rem;  
  }
  
  .review__item h5{
     font-size: 1rem;
     margin-bottom: 0; 
  }
  
  .review__item p{
      font-style: 0.9rem;
      color: var(--text-color);
  }
  
  .review__item h6{
      content: 1.1rem;
      color: var(--text-color);
  }
  
  .review__item span i{
      font-style: 1.2rem;
      color: var(--secondary-color);
  }
  
  .review__item span {
      font-weight: 500;
  }

  
  
  .RoomDetails-bookingSection {
    margin-top: 30px;
  }

  .unavailable-text {
    color: red; 
    font-weight: bold;
  }
  
  