.tour__content img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    align-items: center;
}

.tour__info 
.tour__reviews{
   border-radius: .5rem;
   border: 1px solid rgb(229, 231, 235);
   padding: 2rem;
}

.tour__info h2{
   font-size: 1.5rem; 
}

.tour__info span{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-style: 1rem;
  color: var(--text-color);  
}

.tour__info span i{
  color: var(--heading-color);  
  font-style: 1rem;
}

.tour__extra-details{
  display: flex;
  align-items: center;
  column-gap: 2.7rem;  
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.tour__info h5{
   margin-bottom: 1rem;
   font-style: 1.4rem; 
}

.tour__info p{
   line-height: 30px;
   font-size: 1rem;
   color: var(--text-color); 
}

.rating__group span{
  font-style: 1.1rem;
   display: flex;
   align-items: center;
   color: var(--secondary-color); 
   cursor: pointer;
}

.tour__reviews h4{
    margin-bottom: 3rem;

}

.review__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}

.review__input input{
    width: 100%;
    padding: 0.5rem 0;
    border: none;
}

.review__input input:focus{
    outline: none;
}

.review__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.review__item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.user__reviews{
  margin-top: 2.5rem;  
}

.review__item h5{
   font-size: 1rem;
   margin-bottom: 0; 
}

.review__item p{
    font-style: 0.9rem;
    color: var(--text-color);
}

.review__item h6{
    content: 1.1rem;
    color: var(--text-color);
}

.review__item span i{
    font-style: 1.2rem;
    color: var(--secondary-color);
}

.review__item span {
    font-weight: 500;
}

.image-slider {
    margin-bottom: 40px; 
  }



.tour__budget-details {
    /* background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; */
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .budget-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .budget-card:hover {
    background-color: #f5f5f5;
  }
  
  .budget-card.clicked {
    background-color: #e6e6e6;
  }
  
  .budget-card h6 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .budget-card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
  }

  .budget-filter {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 500px;
  }
  
  .budget-filter label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .budget-filter select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
  }
  